// 这个文件负责重置样式

body {
  font-family: var(--h-font-family);
  font-weight: 400;
  font-size: var(--h-font-size-base);
  color: var(--h-text-color-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: var(--h-color-primary);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--h-color-primary-light-3);
  }

  &:active {
    color: var(--h-color-primary-dark-2);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-text-color-regular);
  font-weight: inherit;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: calc(var(--h-font-size-base) + 6px);
}

h2 {
  font-size: calc(var(--h-font-size-base) + 4px);
}

h3 {
  font-size: calc(var(--h-font-size-base) + 2px);
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

sup,
sub {
  font-size: calc(var(--h-font-size-base) - 1px);
}

small {
  font-size: calc(var(--h-font-size-base) - 2px);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--h-border-color-lighter);
}
