// 该文件主要是负责定义全局的样式变量，例如颜色、字体大小等等

// 主题色
$colors: (
  primary: #409eff,
  success: #67c23a,
  warning: #e6a23c,
  danger: #f56c6c,
  info: #909399
);

:root {
  // 接下来我们需要生成主题色和不同亮度的颜色
  @each $val, $color in $colors {
    // 生成主题颜色
    --h-color-#{$val}: #{$color};
    // 还需要生成不同亮度的颜色
    @for $i from 1 through 4 {
      --h-color-#{$val}-light-#{2 * $i + 1}: #{mix(#fff, $color, ((2 * $i + 1) * 10 * 1%))};
    }
    // dark2 和 light8 因为不符合上面的规律，我们在下面单独来生成
    --h-color-#{$val}-light-8: #{mix(#fff, $color, 80 * 1%)}; // 80% 亮度
    --h-color-#{$val}-dark-2: #{mix(
        #000,
        $color,
        20 * 1%
      )}; // 注意，dark是和黑色进行混合，20% 亮度
  }

  // 接下来，还有一些其他的颜色变量
  // 对应的是 ElementPlus 里面的中性色
  --h-color-white: #fff;
  --h-color-black: #000;
  --h-bg-color: #ffffff;
  --h-bg-color-page: #f2f3f5;
  --h-bg-color-overlay: #ffffff;
  --h-text-color-primary: #303133;
  --h-text-color-regular: #606266;
  --h-text-color-secondary: #909399;
  --h-text-color-placeholder: #a8abb2;
  --h-text-color-disabled: #c0c4cc;
  --h-border-color: #dcdfe6;
  --h-border-color-light: #e4e7ed;
  --h-border-color-lighter: #ebeef5;
  --h-border-color-extra-light: #f2f6fc;
  --h-border-color-dark: #d4d7de;
  --h-border-color-darker: #cdd0d6;
  --h-fill-color: #f0f2f5;
  --h-fill-color-light: #f5f7fa;
  --h-fill-color-lighter: #fafafa;
  --h-fill-color-extra-light: #fafcff;
  --h-fill-color-dark: #ebedf0;
  --h-fill-color-darker: #e6e8eb;
  --h-fill-color-blank: #ffffff;

  // 和 border 相关的变量
  --h-border-width: 1px;
  --h-border-style: solid;
  --h-border-color-hover: var(--h-text-color-disabled);
  --h-border: var(--h-border-width) var(--h-border-style) var(--h-border-color);
  --h-border-radius-base: 4px;
  --h-border-radius-small: 2px;
  --h-border-radius-round: 20px;
  --h-border-radius-circle: 100%;

  // 和 font 相关的变量
  --h-font-size-extra-large: 20px;
  --h-font-size-large: 18px;
  --h-font-size-medium: 16px;
  --h-font-size-base: 14px;
  --h-font-size-small: 13px;
  --h-font-size-extra-small: 12px;
  --h-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --h-font-weight-primary: 500;

  // 和 disabled 相关的变量
  --h-disabled-bg-color: var(--h-fill-color-light);
  --h-disabled-text-color: var(--h-text-color-placeholder);
  --h-disabled-border-color: var(--h-border-color-light);

  // 和 transition 过渡相关的变量
  --h-transition-duration: 0.3s;
  --h-transition-duration-fast: 0.2s;
}
